* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(109, 109, 233);
}

.todo {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1.5rem;
  background-color: white;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
}

h1 {
  font-size: 2.4rem;
}

.plus {
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  background-color: #8e49e8;
  font-weight: 800;
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
}

input {
  padding: 0.7rem;
  border: 2px solid black;
  flex: 1;
  border-radius: 0.4rem;
  font-size: 1rem;
}

.input-kit {
  display: flex;
  gap: 0.3rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: 1.2rem;
}

footer button {
  padding: 0.5rem 1.2rem;
  border: none;
  background: #8e49e8;
  color: white;
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 1rem;
}

li {
  margin-top: 0.2rem;
  padding: 0.7rem;
  color: rgb(5, 5, 5);
  font-size: 1.1rem;
  flex: 1;
}

.list {
  background: rgb(230, 224, 228);
  word-break: break-all;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list button {
  width: 3rem;
  height: 3rem;
  margin-bottom: auto;
  cursor: pointer;
}
